:root {
  --accent-color: #fa4a0c;
  --heading-color: #252b42;
  --text-color: #737373;
  --second-bg-color: #fafafa;

  
  font-size: 20px; /*24px */
  font-family: 'Montserrat', sans-serif;
}
/* 
font-family: 'Poppins', sans-serif; desktop main page heading
font-family: 'Roboto', sans-serif; footer
 */
 .heading {
  font-size: 1.67rem; /*40px*/
  line-height: 1.425; /*57px*/
  font-weight: 700;
  color: var(--heading-color);
 }
 .text-content {
   font-size: 1rem;
   line-height: 1.6;
   font-weight: 500;
   color: var(--text-color);
 }
 .accent-btn{
  border: none;
  background-color: var(--accent-color);
  color: white;
 }
