:root {
  --accent-color: #fa4a0c;
  --second-accent-color: #252b42;
  --text-color: #737373;
  --second-bg-color: #fafafa;
  --light-text-color: #f7f7f7;
  --second-light-color: #ffffff;
  --line-color: #e4e4e4;

  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

.heading {
  font-size: 1.67rem;
  line-height: 1.425;
  font-weight: 700;
  color: var(--second-accent-color);
}
.accent-heading {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  color: var(--accent-color);
}
.sub-heading {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 500;
}
.text-content {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 500;
  color: var(--text-color);
}
.accent-link,
.non-accent-link {
  padding: 16px;
  color: var(--second-light-color);
  font-weight: 700;
}
.accent-link {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.non-accent-link {
  background-color: inherit;
  border: 1px solid var(--second-light-color);
}
.jc-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.link-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 22px;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    font-size: 24px;
  }
}
