.download {
  padding-top: 110px;
  padding-bottom: 110px;
  /* padding: 110px 0; */
  background-color: var(--second-accent-color);
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.download-heading {
  padding: 10px 0;
  color: var(--second-light-color);
}
.download-content {
  padding: 10px 0;
  margin-bottom: 50px;
  color: #bdbdbd;
}
.download-links {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.download-link {
  min-width: 40%;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.75;
}
.download-link + .download-link {
  margin-left: 16px;
  min-width: 50%;
}
.download-link:hover {
  background-color: var(--second-light-color);
  border-color: var(--second-light-color);
  color: var(--accent-color);
  transition: all 0.5s ease-out;
}
@media screen and (min-width: 576px) {
  .download-link {
    min-width: 35%;
  }
  .download-link + .download-link {
    min-width: 45%;
  }
}
@media screen and (min-width: 768px) {
  .download {
    background-image: url(../images/download-bg-color.png);
    background-size: cover;
    background-position: center;
  }
  .download-content {
    color: var(--second-light-color);
  }
  .download-link {
    min-width: 30%;
  }
  .download-link + .download-link {
    min-width: 40%;
  }
}
@media screen and (min-width: 992px) {
  .download-link {
    min-width: 23%;
  }
  .download-link + .download-link {
    min-width: 35%;
  }
}
@media screen and (min-width: 1200px) {
  .download-link {
    min-width: 17%;
  }
  .download-link + .download-link {
    min-width: 23%;
  }
}
