.shopping-screen {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.shopping-screen-description {
  padding: 65px 30px;
}

.shopping-screen-heading {
  padding: 2rem 0;
}

.shopping-screen-photo-wrapper {
}
.shopping-screen-photo {
}