.start-instructions {
  max-width: 100%;
  text-align: center;
}
.app-img-wrapper {
  margin: 0 auto;
  margin-top: -240px;
  max-width: 100%;
}
.responsive-app-img-helper {
  position: relative;
  padding-top: 114%;
}
.app-img {
  max-width: 100%;
  width: inherit;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.start-instruction-heading {
  width: 100%;
  padding: 40px;
  font-weight: 600;
  position: relative;
}

.start-instruction-heading::before {
  position: absolute;
  content: '';
  background-color: #e4e4e4;
  height: 3px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .app-img-wrapper {
    max-width: 80%;
    margin-top: -260px;
  }
  .start-instruction-heading {
    padding:40px 60px;
  }
}

@media screen and (min-width: 768px) {
  .app-img-wrapper {
    max-width: 70%;
    margin-top: -200px;
  }
  .start-instruction-heading {
   max-width: 85%;
   margin: 0 auto;
  }
  .start-instruction-heading::before {

    bottom: none;
    top: 0;
  }
}
@media screen and (min-width: 992px) {
  .app-img-wrapper {
    max-width: 50%;
    margin-top: -200px;
  }
  .start-instruction-heading {
    max-width: 66%;
   }
}
@media screen and (min-width: 1200px) {
  .app-img-wrapper {
    max-width: 35%;
  }
}
