.welcome-screen {
  padding-top: 50px;
  padding-bottom: 253px;
  background-color: var(--second-bg-color);

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}
.welcome-content {
}
.welcome-screen-title {
  color: var(--text-color);
  font-size: 0.67rem;
  line-height: 1rem;
  font-weight: 700;
}
.welcome-screen-heading {
  margin: 7px 0;
  padding: 10px;
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 700;
}
.welcome-screen-content {
  padding: 10px;
  margin-bottom: 40px;
}
.welcome-screen-btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.download-btn {
  padding: 16px 58px;
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 700;
  border-radius: 35px;
}
.non-accent-welcome-btn {
  margin-top: 17px;
  border: 1px solid var(--accent-color);
  background-color: inherit;
  color: var(--accent-color);
}

@media screen and (min-width: 576px) {
  .welcome-content {
    max-width: 550px;
  }
  .welcome-screen-title {
    font-size: 1rem;
    line-height: 1.5;
  }
  .welcome-screen-btns {
    flex-direction: row;
    justify-content: center;
  }
  .non-accent-welcome-btn {
    margin-top: 0;
    margin-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .welcome-screen {
    padding-bottom: 146px;

    background-image: url(../images/welcome-bg-img.png);
    background-size: cover;
    background-position: center;
  }
  .welcome-content {
    max-width: 700px;
  }
  .welcome-screen-title,
  .welcome-screen-content {
    color: var(--light-text-color);
  }

  .welcome-screen-heading {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    line-height: 1.4;
    font-weight: 700;
  }
  .non-accent-welcome-btn {
    border-color: white;
    color: white;
    margin-left: 30px;
  }
}

@media screen and (min-width: 992px) {
  .welcome-content {
    max-width: 800px;
  }
  .non-accent-welcome-btn {
    margin-left: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .welcome-content {
    max-width: 900px;
  }
}
