.welcome-screen {
  padding-top: 50px;
  padding-bottom: 253px;
  background-color: var(--second-bg-color);

  text-align: center;
}

.welcome-content {
  margin-bottom: 40px;
}
.welcome-screen-title {
  color: var(--text-color);
  font-size: 0.67rem;
  line-height: 1rem;
  font-weight: 700;
}
.welcome-screen-heading {
  padding: 27px 0;

  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 700;
  color: var(--second-accent-color);
}
.welcome-screen-links {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-link {
  min-width: 60%;
  font-size: 1rem;
  line-height: 1.6rem;
  border-radius: 30px;
}
.non-accent-welcome-link {
  margin-top: 17px;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
.welcome-link:hover {
  border-color: var(--second-accent-color);
  background-color: var(--second-accent-color);
  color: var(--second-light-color);
  transition: all 0.5s ease-out;
}

@media screen and (min-width: 500px) {
  .welcome-link {
    min-width: 50%;
  }
}
@media screen and (min-width: 576px) {
  .welcome-screen-title {
    font-size: 1rem;
    line-height: 1.5;
  }
  .welcome-screen-links {
    flex-direction: row;
    justify-content: center;
  }

  .non-accent-welcome-link {
    margin-top: 0;
    margin-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .welcome-screen {
    padding-bottom: 146px;

    background-image: url(../images/welcome-bg-img.png);
    background-size: cover;
    background-position: center;
  }

  .welcome-screen-title,
  .welcome-screen-content {
    color: var(--light-text-color);
  }

  .welcome-screen-heading {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    line-height: 1.4;
    font-weight: 700;
  }
  .welcome-link {
    min-width: 35%;
    z-index: 10;
  }
  .non-accent-welcome-link {
    margin-left: 30px;
    color: var(--second-light-color);
    border-color: var(--second-light-color);
  }
  .welcome-link:hover{
    border-color: var(--second-light-color);
    background-color: var(--second-light-color);
    color: var(--accent-color);
    transition: all 0.5s ease-out;
  }
}

@media screen and (min-width: 992px) {
  .non-accent-welcome-link {
    margin-left: 34px;
  }
  .welcome-link {
    min-width: 27%;
  }
}
@media screen and (min-width: 1200px) {
  .welcome-link {
    min-width: 20%;
  }
}
